<div>
    <p class="city">
        MyTime is a fully integrated appointment scheduling, point-of-sale and customer engagement platform for multi-location chains and franchises. It’s built to be modular, but it really shines when the various components work together to maximize revenue by reaching customers wherever they are at the moment they are ready to transact.

        Our award-winning online booking experience can be integrated into your website and mobile apps, as well as Google Search and Google Maps, Bing, Facebook, and Instagram, thereby enabling your customers to find, book, and transact with you from anyplace they engage with your brand. Our automated marketing system increases client retention and visit frequency. And we automate the many tedious, manual operational tasks so you can focus on your service and your customers.

        Find out what it means to integrate scheduling, marketing and payments into a single, easy-to-use platform and why MyTime won Best Local Commerce Service of 2017 from the Local Search Association and has been featured by both Apple and Google as “Best New App” in their respective App Stores.

        Our cloud-based platform is scalable, secure, and ready for any size deployment.
    </p>
    <button class="btn btn-primary" ng-click="loadAllLocations()">Show All Locations</button>
</div>