<div id="dvDeals" ng-controller="dealsCtrl">
    <h2 class="city">Deals & Variations</h2>
    <button class="btn btn-primary" style="margin:30px 0px 0px 0px;" ng-click="goHome();">Go home</button>
    <div id="dvContent" style="padding-top:10px;">
        <span ng-show="isError" style="color:red;">{{ErrorMessage}}</span>
        <div ng-repeat="del in Deals">
            <div class="row" id="locDv" style="border:1px solid #eee;background-color:#f7f7f7;border-radius:10px;">
                <div class="col-xs-12">
                    <h2 class="city">{{del.service.name}}</h2>
                </div>
            </div>

            <div class="row" ng-repeat="var in del.variations">
                <div class="col-xs-12" ng-if="var.modifier_lookup_values!=null && var.modifier_lookup_values.length>0">
                    <h4>{{var.name}}</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Value</th>
                                <th>Vanity</th>
                                <th>Slug</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in var.modifier_lookup_values">
                            <td>{{item.value}}</td>
                            <td>{{item.vanity}}</td>
                            <td>{{item.slug}}</td>
                            <td>{{item.position}}</td>
                        </tr>
                    </table>

                </div>


                <!--<div class="col-xs-12" >

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Value</th>
                                <th>Vanity</th>
                                <th>Slug</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in var.modifier_lookup_values">
                            <td>{{item.value}}</td>
                            <td>{{item.vanity}}</td>
                            <td>{{item.slug}}</td>
                            <td>{{item.position}}</td>
                        </tr>
                    </table>
                </div>-->
            </div>
            <div class="separator"></div>

        </div>
    </div>
</div>
