<div id="dvLocations" ng-controller="locationsCtrl">    
    <h2 class="city">Locations</h2>  
    <div spinner show="showSpinner"></div> 
    <div id="dvContent" class="mt-deals-content">
        <span class="danger" ng-show="isError">{{errorMessage}}</span>
        <div ng-repeat="loc in locations">
            <div class="row mt-deal" id="locDv">
                <div class="col-xs-9">
                    <h2 class="city">{{loc.city}}</h2>
                    <span class="address">
                        {{loc.street_address}}, {{loc.state}}, {{loc.zip_code}}, {{loc.country}}
                    </span>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-primary mt-btn-home" ng-click="getDealsByLocation(loc.id);">Show Deals</button>
                </div>
                <div class="separator"></div>
            </div>
        </div>
    </div>
</div>
